@timeAnimate: 300ms;

.sk123ow {
	@import 'mixins';
	@import '../vendor/bootstrap/less/mixins';

	//
	& { box-sizing: border-box; }
	*, *:before, *:after {
		box-sizing: inherit;
	}

	// widget
	padding: 10px;
	.border-radius(3px);
	.gradientVertical(#087ab8, rgba(7, 104, 159, 0.91));

	// heading
	h3 {
		margin: 0;
		font: 700 20px/20px Arial, sans;
		color: #FFF;
	}

	// form
	form {
		margin-top: 10px;
		.reveal {
			position: relative;
			z-index: 1;
			margin-top: -1px;
			padding-top: 1px;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			border-top-color: #EEE;
			display: inline-block;
			background-color: #eee;
		}
		label[for=revealFilters] {
			width: 50px;
		}
		label[for=revealFilters]
		,.form-inline {
			float: left;
		}
		.form-inline .form-group {
			vertical-align: top;
		}
		#revealFilters+.form-inline {
			display: none;
//			.transition(max-width @timeAnimate ease-out);
//			max-width: 0%;
//			overflow: hidden;
		}
		#revealFilters:checked+.form-inline {
			display: block;
//			max-width: 100%;
		}
	}
	&.hasfilters {
		form {
			.input-group-lg .input-group-addon {
				border-bottom-left-radius: 0;
			}
		}
	}

	// option
	select {
		text-transform: capitalize;
	}
	select[multiple] {
		height: 140px;
	}
	option:checked {
		background-color: #EEE;
	}
	option[default] {
		/*color: white;
		background-color: black;*/
		&:before { content: '...'; }
	}

	// result
	#searchResult {
		max-height: 0;
		.transition(max-height @timeAnimate ease-out);
		overflow: hidden;
		&.reveal {
			max-height: 9999px;
		}
		thead th {
			white-space: nowrap;
			text-transform: capitalize;
			&.sort {
				&:after {
					content: '\e114'; // glyphicon glyphicon-chevron-down/up
					display: inline-block;
					padding-left: 5px;
					font-family: 'Glyphicons Halflings';
					font-style: normal;
					font-weight: normal;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					font-size: 10px;
					line-height: 100%;
				}
				&.desc:after { content: '\e113'; }
			}
		}
		&.searching tbody {
			opacity: .5;
		}
		.info {
			td[colspan] { display: table-cell; }
			&.all-details td>dl {
				zoom: .7;
			}
			&.info-details td>* {
				max-height: 1px;
				.transition(max-height @timeAnimate ease-out);
				overflow: hidden;
			}
			&.reveal td>* {
				max-height: 500px;
			}
			dl,dt,dd { vertical-align: top; }
			dt {
				text-transform: capitalize;
//				border: 1px solid fade(white,50%);
//				.box-shadow(0 0 0 3px fade(red,50%) inset);
			}
			dd {
				&:before {
					content: '';
					.lt;
					.dim(100%,1px);
					background-color: fade(white,50%);
				}
				a {
					display: inline-block;
					max-width: 75%;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
//				border-top: 1px solid fade(white,50%);
//				.box-shadow(0 0 0 3px fade(white,50%) inset);
			}
		}
	}


	// pagination
	.pages {
		overflow: hidden;
	}
		.pagination {
			width: 100%;
//			margin-left: 50%;
//			.transform(translateX(-50%));
			text-align: center;
			li {
				display: inline-block;
			}
			.edge-left a {
				border-right: 1px solid #087ab8;
				z-index: 1;
			}
			.edge-right a {
				border-left-color: #087ab8;
			}
			a {
				@paginationSize: 30px;
				width: @paginationSize;
				height: @paginationSize;
				padding: 0;
				line-height: @paginationSize;
				text-align: center;
			}
		}

	.alert {
		.text { padding-left: 10px; }
	}

	footer {
		color: fade(white,50%);
	}
}