<link rem href="vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
<link rem href="style/main.css" rel="stylesheet"/>
<div id="sk123ow" class="sk123ow">
	<h3>Opleidingen widget</h3>
	<form role="form">
		<div class="input-group input-group-lg">
			<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
			<input id="search" type="text" class="form-control" placeholder="query">
			<span class="input-group-btn">
				<button class="btn btn-default" type="submit">Search</button>
			</span>
		</div>
		<div class="reveal panel panel-sm clearfix">
			<label for="revealFilters" class="btn btn-sm"><span class="glyphicon glyphicon-filter"></span></label>
			<input id="revealFilters" class="hide" type="checkbox" />
			<div class="form-inline">
				<div class="form-group form-group-sm">
					<div class="input-group">
						<label for="selectTaal">Taal</label>
						<select id="selectTaal" class="form-control" multiple>
							<option value="" default="">taal</option>
							<option rem value="en">Engels</option>
							<option rem value="nl">Nederlands</option>
							<option rem value="fr">Frans</option>
							<option rem value="de">Duits</option>
							<option rem value="sp">sp</option>
							<option rem value="it">Italiaans</option>
							<option rem value="es">Spaans</option>
						</select>
					</div>
				</div>
				<div rem class="form-group form-group-sm">
					<div class="input-group">
						<label for="selectIets">Iets</label>
						<select id="selectIets" class="form-control">
							<option rem value="en">Engels</option>
							<option rem value="nl">Nederlands</option>
							<option rem value="fr">Frans</option>
							<option rem value="de">Duits</option>
							<option rem value="sp">sp</option>
							<option rem value="it">Italiaans</option>
							<option rem value="es">Spaans</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</form>
	<div class="alert alert-warning hide" role="alert"><span class="glyphicon glyphicon-warning-sign"></span><span class="text">Your search yielded no results.</span></div>
	<div id="searchResult">
		<div class="panel panel-default">
			<div class="panel-heading" remContent>Search result <span></span></div>
			<div class="table-responsive">
				<table class="table table-condensed table-striped table-hover">
					<thead><tr remContent>
						<th>naam</th>
						<th>locatie</th>
						<th>type</th>
						<th>niveau</th>
						<th>vorm</th>
					</tr></thead>
					<tbody remContent>

					<tr class="details info" data-id="10630">
						<td>Biology</td>
						<td>Leiden</td>
						<td>regular</td>
						<td>academic master</td>
						<td>2</td>
						<td colspan="5">
							asdf
						</td>
					</tr>
					<!--<tr class="hide"></tr>-->
					<!--<tr class="details info">-->
						<!--<td colspan="5">-->
							<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci animi aut deserunt doloremque dolores enim ipsum modi porro quia sapiente soluta temporibus ut, voluptatem voluptatum. Maxime nisi porro vero.</p>-->
						<!--</td>-->
					<!--</tr>-->

					<tr data-id="10625">
						<td>Biology</td>
						<td>Groningen</td>
						<td>regular</td>
						<td>academic master</td>
						<td>2</td>
					</tr>
					<tr data-id="10623">
						<td>Biology</td>
						<td>Nijmegen</td>
						<td>regular</td>
						<td>academic master</td>
						<td>2</td>
					</tr>
					<tr data-id="15305">
						<td>Biology</td>
						<td>Amsterdam</td>
						<td>regular</td>
						<td>academic master</td>
						<td>2</td>
					</tr>
					<tr data-id="10628">
						<td>Marine Biology</td>
						<td>Groningen</td>
						<td>regular</td>
						<td>academic master</td>
						<td>2</td>
					</tr>
					<tr data-id="10624">
						<td>Medical Biology</td>
						<td>Nijmegen</td>
						<td>regular</td>
						<td>academic master</td>
						<td>2</td>
					</tr>
					<tr data-id="57753">
						<td>Clinical biology</td>
						<td>Nijmegen</td>
						<td>regular</td>
						<td>academic master</td>
						<td>2</td>
					</tr>
					<tr data-id="10631">
						<td>Environmental Biology</td>
						<td>Utrecht</td>
						<td>regular</td>
						<td>academic master</td>
						<td>2</td>
					</tr>
					<tr data-id="10635">
						<td>Biology</td>
						<td>Wageningen</td>
						<td>regular</td>
						<td>academic master</td>
						<td>2</td>
					</tr>
					<tr data-id="52894">
						<td>Evolutionary Biology</td>
						<td>Groningen</td>
						<td>regular</td>
						<td>academic master</td>
						<td>2</td>
					</tr>
					</tbody>
				</table>
			</div>
			<nav class="pages">
				<ul class="pagination pagination-sm" remContent>
					<li class="disabled" data-do="prev"><a>«</a></li>
					<li class="active" data-do="0"><a>1</a></li>
					<li data-do="1"><a>2</a></li>
					<li data-do="2"><a>3</a></li>
					<li data-do="3"><a>4</a></li>
					<li data-do="4"><a>5</a></li>
					<li data-do="5"><a>6</a></li>
					<li data-do="6"><a>7</a></li>
					<li data-do="7"><a>8</a></li>
					<li data-do="8"><a>9</a></li>
					<li data-do="9"><a>10</a></li>
					<li data-do="10"><a>11</a></li>
					<li data-do="11"><a>12</a></li>
					<li data-do="12"><a>13</a></li>
					<li data-do="13"><a>14</a></li>
					<li data-do="next"><a>»</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<footer class="text-center"><small>sk123ow V <span remContent>1.2.34</span></small></footer>
</div>